* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
 
::after, ::before {
  box-sizing: border-box;
}
 
h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: normal;
}
  
ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  background: #f8fafc;
  font-family: Arial, Helvetica, sans-serif;
}
/* basic css end */

/* common css start */
.sec-h2 {
  font-size: 24px;
  color: #222;
  margin-bottom: 30px;
}

.sec-h3 {
  font-size: 20px;
  color: #222;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: #748f9e;
}

.my-btn {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  background: #10a2ef;
  padding: 10px 60px;
  text-align: center;
}

/*// end of common css */

/* main css start */

/* =====header part start======= */
.navbar-brand img {
  width: 60%;
}

.navbar .form-group {
  position: relative;
}

.navbar .form-inline .form-control {
  width: 500px;
  padding: 20px 20px 20px 50px;
  font-size: 12px;
  color: #d0d5de;
  border-radius: 50px;
  background: #f8fafc;
}

.navbar .form-inline label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #d0d5de;
}

.navbar {
  padding: 0;
}

.navbar .notificaion i {
  font-size: 25px;
  color: #222;
  padding: 10px;
  display: block;
  line-height: 50px;
  transition: all 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear
}

.navbar .notificaion i:hover {
  color: #10a2ef;
}

.navbar .notificaion sub i {
  font-size: 12px;
  color: red;
  position: absolute;
}

.navbar .notificaion sub i:hover {
  color: red;
}

.navbar .notificaion sub {
  left: -25px;
}

.navbar .user img {
  width: 50px;
  vertical-align: text-top;
  margin: 5px 10px 0 0;
}

.navbar .user-name {
  font-size: 12px;
  color: #222;
  margin-top: 17px;
}

.navbar .earning {
  font-size: 12px;
  color: #2ec09c;
}

.navbar .dropdown i {
  width: 35px;
  height: 35px;
  background: #f5f7f9;
  color: #222;
  font-size: 15px;
  display: grid;
  place-items: center center;
  border-radius: 5px;
  margin: 15px 0 0 10px;
  transition: all 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear
}

.navbar .dropdown i:hover {
  background: #10a2ef;
  color: #fff;
}

.navbar .notificaion {
  padding: 0 15px;
  border-right: 1px solid #ced4da; 
}

.navbar .user {
  padding: 0 15px;
}

/* ========= tab menu start ==========*/
.nav-tabs {
  border: 1px solid #ced4da;
  border-radius: 50px;
  margin-bottom: 40px;
  background: #fff;
}

.nav-tabs .nav-item {
  text-align: center;
  margin: auto;
}

.nav-tabs a {
  font-size: 12px;
  color: #10a2ef;
  padding: 12px;
  flex-grow: 1;
  display: block;
  border-radius: 50px;
  margin: 2px;
  font-weight: normal;
  cursor: pointer;
}

.nav-tabs a.active {
  background: #10a2ef;
  color: #fff;
}

.nav-tabs .nav-item:first-child {
  margin-right: auto !important;
  margin: 0 !important;
}

.nav-tabs .nav-item:last-child {
  margin-left: auto !important;
  margin: 0 !important;
}
/*// ==========end of tab menu======= */

/* =====// end of header part ======= */


/* ===== popular section start ======= */
#recommended {
  padding-bottom: 80px;
}

#recommended .sec-h3 {
  margin-bottom: 30px;
  line-height: 30px;
}

/* card part start */
.card {
  border-radius: 15px;
  overflow: hidden;
  flex-direction: row;
  margin-bottom: 30px;
}

.card .card-img {
  width: 45%;
  max-height: 200px;
  overflow: hidden;
  margin-right: 10px;
}

.card .card-img img {
  width: 100%;
  height: auto;
}

.card-text {
  padding: 0 5px;
  width: 65%;
}

.card .user-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.card .user-img img {
  max-width: 100%;
  height: auto;
}

.card-title {
  padding: 20px 0;
  border-bottom: 1px dashed #e0e0e0;
  margin-bottom: 0;
  font-size: 16px;
}

.card .user-name {
  font-size: 14px;
  color: #222;
  text-transform: capitalize;
  margin-top: 10px;
}

.card .user-name:hover {
  text-decoration: underline;
}

.card .service-name {
  font-size: 12px;
  color: #748f9e;
  text-transform: uppercase;
}

.card .rating {
  font-size: 14px;
  color: #fcb059;
}

.card .seler-level {
  font-size: 12px;
  color: #2ec09c;
  display: block;
  margin-top: 8px;
}

.card .price-txt {
  font-size: 12px;
  color: #222;
  display: block;
  margin-top: -25px;
}

.card .price {
  font-size: 12px;
  color: #2ec09c;
  display: block;
  margin-top: -25px;
}


/* //end of card part */

/* ===== //end of recommended section ======= */

/* ===== latest section start ======= */
#latest {
  padding-bottom: 80px;
}

#latest .sec-h3 {
  margin-bottom: 30px;
  line-height: 30px;
}

/* ===== //end of latest section ======= */


/* ===== aside bar start ======= */
.s-card {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 30px;
}

.s-card-heading {
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  border-bottom: 1px dashed #ced4da;
  color: #444;
}

.s-card .post-btn {
  background: #2ec09c;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 15px;
}

.s-card .request-btn {
  background: #10a2ef;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 15px;
}

.s-card.cateory .btn {
  color: #10a2ef;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 15px;
  background: #d5ebf6;
}

.s-card .img {
  max-width: 30%;
  padding-right: 10px;
}

.s-card .img img {
  width: 100%;
}

.s-card.bought a {
  font-size: 16px;
  text-decoration: underline;
}
/* =====// end of aside bar ======= */




/* ===== footer section start ======= */
#footer {
  padding: 40px 0;
  background: #fff;
}

#footer .sec-h3 {
  color: #10a2ef;
}

#footer li a {
  font-size: 16px;
  color: #748f9e;
  display: block;
  padding: 5px 0;
}

#footer .f-link img {
  padding: 0 10px 30px 0;
}
/* ===== footer section end ======= */


/* ========== Responsive part start  ============ */
@media(max-width: 575px) {
  .card .card-img {
    max-height: initial;
  }
}

@media (max-width: 991px){
  .card {
    flex-direction: column;
  }

  .card .card-img {
    width: 100%;
  }

  .card .card-text {
    width: 100%;
  }

  .card .card-img {
    max-height: initial;
  }
}

@media (min-width: 1200px) {
  #header .container {
    max-width: 80%;
  }

  #footer .container {
    max-width: 80%;
  }


}